.container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding-bottom: 100px;

}

.btn {
	border: none;
	background: none;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;

	color: var(--main-text-color);
	transition: color 300ms;

	font-size: 2.5rem;
}

.btn:hover {
	cursor: pointer;
	color: var(--vivid-text);
}

.arrow {
	animation: breathe 3s ease-in-out infinite;
}

@keyframes breathe {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(6px);
	}

	100% {
		transform: translateX(0);
	}
}