.container {
	color: var(--main-text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
}

.content{ 

	max-width: 900px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;

	gap: 40px;
}

.title {
	font-weight: 400;
	text-align: left;
	width: min(800px, 100%);
	font-size: 4rem;
	margin: 0 auto;
}
