
.description {
	width: 100%;
	height: 100%;

	overflow-y: scroll;
	overflow-x: hidden;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1rem;
	
	padding: 2rem;
	padding-left: 3rem;
}

.description h1 {
	font-size: 3rem;
	padding-bottom: 1rem;
}
