.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  gap: 2rem;
}

@media (max-height: 600px) {
  .page {
    padding-top: 1rem;
  }
}

@media (max-height: 740px) and (min-width: 800px) {
  .page {
    flex-direction: row;
  }
}

.headshot {
  border-radius: 100%;
}

.contactInfo {
  border-collapse: collapse;
  font-size: 1.1rem;
}

.contactInfo th, .contactInfo td {
  border-bottom: 2px solid grey;
  padding: 1rem;
}

.contactInfo th {
  text-transform: uppercase;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.githubLink {
  border-radius: 100%;
  border: 1px solid transparent;
}

.linkedInLink {
  border-radius: 5px;
}

.githubLink, .linkedInLink {
  transition: all 400ms;
}

.githubLink:hover, .linkedInLink:hover {
  background-color: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}