.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.sectionHeading {
  padding-top: 2.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  width: min(calc(100% - 1rem), 1000px);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: min(calc(100vw - 2rem), 1200px);
}

.project {
  width: min(calc(100vw - 2rem), 1100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  transition: all 600ms;
  position: relative;
  border-radius: 0;
}

.project.collapsed {
  border-width: 3px;
  gap: 1rem;
  flex-direction: column;
  width: min(calc(100vw - 2rem), 400px);
  transition: all 400ms;
  gap: 0;
}

.project.collapsed:hover {
  cursor: pointer;
  border-radius: 0;
  margin-top: -5px;
  margin-bottom: 5px;
}

.project.collapsed .description {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.project.collapsed h1 {
  font-size: 1.8rem;
}

.project h1 {
  font-size: 2.2rem;
  text-align: center;
}

.demo {
  aspect-ratio: 16 / 8.6;
  width: calc(100% - 2rem);
  height: auto;
  object-fit: cover;
  background-color: transparent;
  transition: all 0ms;
}

.project.collapsed .demo {
  width: 100%;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  transition: all 0ms;
  padding: 0 1rem 1rem 1rem;
}

@media (max-width: 600px) {
  .description {
    padding: 0px;
  }
}

.description li {
  margin-left: 1rem;
}

.deleteButton {
  position: absolute;
  top: 3px;
  right: -25px;
  transition: all 600ms;
}

@media (max-width: 1200px) {
  .deleteButton {
    right: 10px;
  }
}

.links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.project .button {
  padding: 5px 10px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  width: 120px;
  text-align: center;
  transition: all 400ms;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description h2 {
  width: 100%;
  text-align: left;
}

.project:not(.collapsed) {
  padding-left: 2rem;
}

.project .codeExample {
  height: auto;
  width: min(400px, calc(100% - 1rem));
  object-fit: contain;
}

.project .technologies {
  border-collapse: collapse;
}

.project .technologies th, .project .technologies tr:not(:last-of-type) td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.project .technologies th {
  text-transform: uppercase;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.project .technologies th, .project .technologies td {
  padding: 8px;
}
