.hamburger {
  background-color: #eee;
}

.nav {
  color: #eee;
  background: #080820;
}

.nav .activePageContainer {
  border-bottom: 2px solid #000;
  animation: breathAccent 4s infinite;
  background: #080820;
}

.nav .inactivePages {
  border-bottom: 2px solid #000;
  animation: breathAccent 4s infinite;
  backdrop-filter: blur(10px);
}

.main {
  color: #eee;
  background: #080820;
}

.project .description a {
  transition: all 400ms;
}

.project a:hover {
  color: #666;
}

.project .deleteButton {
  background-color: #eee;
}

.project {
  font-weight: 500;
  color: #111;
  background-color: #aaf;
  border-top: 3px solid #026;
  border-bottom: 3px solid #026;
  animation: breathAccent 4s infinite;
}

.project.collapsed:hover {
  box-shadow: 0px 0px 2rem 2px rgba(0, 247, 255, 0.5);
}

.project .deleteButton {
  background-color: transparent;
}

.project .deleteButton div:before, .project .deleteButton div:after {
  background-color: #000;
}

@keyframes breathAccent {
  0% { 
    border-color: #026;
  }
  50% {
    border-color: #5af;
  }
  100% {
    border-color: #026;
  }
}

.contactInfo th, .contactInfo td {
  animation: breathAccent 4s infinite;
}
