.hamburger {
  background-color: #eee;
}

.nav {
  color: #eee;
  background: #080820;
}

.nav .activePageContainer {
  border-bottom: 2px solid #000;
  animation: breathAccent 4s infinite;
  background: #080820;
}

.nav .inactivePages {
  border-bottom: 2px solid #000;
  animation: breathAccent 4s infinite;
  backdrop-filter: blur(10px);
}

.main {
  color: #eee;
  background: #080820;
}



@keyframes breathAccent {
  0% { 
    border-color: #026;
  }
  50% {
    border-color: #5af;
  }
  100% {
    border-color: #026;
  }
}

.contactInfo th, .contactInfo td {
  animation: breathAccent 4s infinite;
}
