.hamburger {
  background-color: #eee;
}

.nav {
  color: #eee;
  background: #000;
}

.nav .activePageContainer {
  border-bottom: 2px solid #451313;
  animation: breathAccent 4s infinite;
  box-shadow: 0px 0px 2rem 2px rgba(247, 134, 64, 0.5);
  transition: all 400ms;
}

.nav.open .activePageContainer {
  box-shadow: 0px 0px 2rem 2px rgba(247, 134, 64, 0);
}

.nav .inactivePages {
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #451313;
  animation: breathAccent 4s infinite;
  box-shadow: 0px 0px 2rem 2px rgba(247, 134, 64, 0.5);
}

.main {
  color: #eee;
  background: #000;
}

@keyframes breathAccent {
  0% { 
    border-color: #451313;
  }
  50% {
    border-color: #f78640;
  }
  100% {
    border-color: #451313;
  }
}

.contactInfo th, .contactInfo td {
  animation: breathAccent 4s infinite;
}
