.hamburger {
  background-color: #eee;
}

.nav {
  color: #eee;
  background: #000;
}

.nav .activePageContainer {
  border-bottom: 2px solid #116;
  animation: breathAccent 4s infinite;
  box-shadow: 0px 0px 2rem 2px rgba(128, 0, 255, 0.5);
  transition: all 400ms;
}

.nav.open .activePageContainer {
  box-shadow: 0px 0px 2rem 2px rgba(128, 0, 255, 0);
}

.nav .inactivePages {
  backdrop-filter: blur(5px);
  border-bottom: 2px solid #116;
  animation: breathAccent 4s infinite;
  box-shadow: 0px 0px 2rem 2px rgba(128, 0, 255, 0.5);
}

.main {
  color: #eee;
  background: #000;
}

@keyframes breathAccent {
  0% { 
    border-color: #116;
  }
  50% {
    border-color: #aaf;
  }
  100% {
    border-color: #116;
  }
}

.contactInfo th, .contactInfo td {
  animation: breathAccent 4s infinite;
}

