.hamburger {
  background-color: #222;
}

.nav {
  color: #222;
  background-color: #fff;
}

.nav .activePageContainer {
  border-bottom: 2px solid #235;
  background: #fff;
}

.nav .inactivePages {
  border-bottom: 2px solid #235;
  backdrop-filter: blur(10px);
}

.main {
  color: #222;
  background: #fff;
}

@keyframes breathAccent {
  0% { 
    border-color: #026;
  }
  50% {
    border-color: #5af;
  }
  100% {
    border-color: #026;
  }
}


.contactInfo th, .contactInfo td {
  animation: breathAccent 4s infinite;
}

.intro {
  background-image: url("/grid-dark.svg");
}

.intro .summary {
  background-color: #070736;
  background-image: url("/grid.svg");
  color: #fff;
}

.intro .button {
  color: #fff;
  font-size: 1.2rem;
  background: transparent;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.intro .button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 100%;
  transition: all 200ms ease-in-out;
  background-color: #236;
  z-index: -1;
}

.intro .button:hover::before {
  height: 100%;
}

.intro .image {
  border-left: 2px solid #333;
  filter: grayscale(50%);
  opacity: 0.9;
}

.nav .inactivePages {
  color: #fff;
}