.hamburger {
  background-color: #fff;
}

.nav {
  color: #fff;
  background: #080820;
}

.nav .activePageContainer {
  border-bottom: 2px solid #235;
  background: #080820;
}

.nav .inactivePages {
  border-bottom: 2px solid #235;
  backdrop-filter: blur(10px);
}

@media (min-width: 800px) {
  .hamburger {
    background-color: #222;
  }

  .nav {
    color: #222;
    background: #fff;
  }

  .nav .activePageContainer {
    background-color: #fff;
  }
}

.main {
  color: #222;
  background: #fff;
}

@keyframes breathAccent {
  0% { 
    border-color: #026;
  }
  50% {
    border-color: #5af;
  }
  100% {
    border-color: #026;
  }
}


.contactInfo th, .contactInfo td {
  animation: breathAccent 4s infinite;
}

.intro {
  background-image: url("/grid-dark.svg");
}

.intro .summary {
  background-color: #080820;
  background-image: url("/grid.svg");
  color: #fff;
}

.intro .button {
  background-color: #080820;
  color: #eee;
  border: 2px solid #eee;
  padding: 5px 10px;
  font-size: 1rem;
  min-width: 300px;
  position: relative;
  z-index: 1;
  transition: all 400ms;
}

.intro .button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
  height: 100%;
  width: 100%;
  z-index: -3;
  transition: all 400ms;
}

.intro .button:hover::after {
  top: -2px;
  left: -2px;
}

.intro .button:hover {
  background-color: #eee;
  color: #000;
  cursor: pointer;
}

.intro .image {
  border-left: 2px solid #333;
  filter: grayscale(50%);
  opacity: 0.9;
}

.nav .inactivePages {
  color: #fff;
}