.container {
    --outer-size: 10px;
    --inner-size: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.beadOuter, .beadInner {
    border-radius: 100%;
    cursor: pointer;
}

.beadOuter {
    position: relative;

    width: var(--outer-size);
    height: var(--outer-size);

    background-color: #aaa;
}

.beadInner {
    position: absolute;
    top: calc((var(--outer-size) - var(--inner-size)) / 2);
    left: calc((var(--outer-size) - var(--inner-size)) / 2);

    width: var(--inner-size);
    height: var(--inner-size);

    background-color: #111;
    transition: background-color 400ms ease;
}

.beadInner.active {
    background-color: #aaa;
}
