.hamburger {
  --size: var(--nav-height);
  padding: 1.2rem 1rem;
  margin-left: -0.5rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: var(--size);
  height: var(--size);
}

.hamburger .bar {
  width: 100%;
  height: 4px;
  transition: all 400ms ease-in-out;
}

.hamburger.open .bar:first-of-type {
  transform: translateY(calc(var(--size) / 6)) rotate(45deg);
}

.hamburger.open .bar:nth-of-type(2) {
  transform: rotate(-45deg);
}

.hamburger.open .bar:last-of-type {
  transform: translateY(calc(var(--size) / -6)) rotate(45deg);
}