.main {
  padding-top: var(--nav-height);
  min-height: 100vh;
  min-width: 100vw;
  transition: all 1000ms ease-in-out;
  background-image: url("/grid.svg");
  background-attachment: fixed;
  background-repeat: repeat;
}
