.svg { 
    height: 1em;
    vertical-align: -0.125em;
}

.path {
    stroke: currentColor;
    stroke-width: 2px;

    transition: all 400ms ease-in-out;
    
    stroke-dasharray: 1;
    stroke-dashoffset: 0.70;
}

.path.hidden {
    stroke-dashoffset: 1;
}
