.container {
	width: 100vw;
	height: 100vh;

	position: relative;
	top: 0;
	left: 0;

	transition: all 400ms;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.container.hidden {
	left: -100vw;
}

.heading {
	text-wrap: wrap;

	margin: 10%;

	font-size: 3rem;

	font-family: "Space Grotesk", sans-serif;

	color: rgba(255, 255, 255, 0.5);
}

.planetSwitch {
	font-size: 10rem;
	padding: none;

	cursor: pointer;
	transition: all 300ms;
	text-transform: capitalize;
	text-decoration: underline solid var(--heading-dull) 5px;


	background: linear-gradient(90deg, #000, var(--heading-vivid), #000);
	background-repeat: no-repeat;
	background-size: 60%;
	animation: wave 6s linear infinite;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0.5);
}

.planetSwitch:hover {
	-webkit-text-fill-color: var(--heading-vivid);
	text-decoration-color: var(--heading-vivid);
}

@media (orientation: portrait) {
	.container {
		flex-direction: column;
	}

	.container.hidden {
		left: 0;
		top: -100vw;
	}

	.planetSwitch {
		font-size: 5rem;
	}
}

.downButton {
	position: fixed;
	bottom: 5px;
	width: 100%;

	text-align: center;

	font-size: 2rem;
	color: var(--heading-dull);
	background: none;
	border: none;
	padding: none;

	cursor: pointer;

	animation: bounce 2s ease-in-out infinite;
	transition: all 300ms;
}

.downButton:hover {
	color: var(--heading-vivid);
}

@keyframes wave {
  0% {
    background-position: -300%;
  }
  100% {
	background-position: 600%;
  }
}

.downButton.hidden {
	display: none;
}

@keyframes bounce {
	0% { 
		padding-top: 10px;
		padding-bottom: 0px;
		bottom: 5px;
	}
	50% {
		padding-top: 0;
		padding-bottom: 10px;
		bottom: 15px;
	}
	100% {
		padding-top: 10px;
		padding-bottom: 0px;
		bottom: 5px;
	}
}
