.container {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

	background-color: var(--background-color);
    backdrop-filter: var(--main-backdrop-filter);

	color: var(--main-text-color);
	opacity: 1;

	transition: opacity 800ms;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.container.hidden {
	opacity: 0;
}

.container.hidden {
    user-select: none;
}

.nav {
	width: 260px;
    min-width: 200px;
    height: max(50vh, 300px);
}

@media (max-width: 1200px) {
    .nav {
        display: none !important;
    }
}

.article {
    align-self: flex-start;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.section {
    width: min(90%, 800px);
    min-height: 100vh;

    margin: 0 auto;
    padding-top: 30vh;
    padding-bottom: 40vh;
    
    scroll-snap-align: start;
}

.section.projects {
    width: min(90%, 1200px);
    height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section:last-of-type {
    padding-bottom: 0px;
}
