.container {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

	background-color: var(--background-color);

	color: var(--main-text-color);
	opacity: 1;

	transition: opacity 800ms;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.container.hidden {
	opacity: 0;
}

.nav {
	width: 350px;
    min-width: 200px;
    height: min(80%, calc(100% - 30px));
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin: 40px;
}
