.container {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

	background-color: var(--background-color);

	color: var(--main-text-color);
	opacity: 1;

	transition: opacity 800ms;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.container.hidden {
	opacity: 0;
}

.nav {
	width: 350px;
    min-width: 200px;
    height: min(80%, calc(100% - 30px));
}

.article {
    align-self: flex-start;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.section {
    width: fit-content;
    min-height: 100vh;

    margin: 0 auto;
    padding-top: 30vh;
    padding-bottom: 100vh;
    
    scroll-snap-align: start;
}

.section:last-of-type {
    padding-bottom: 0px;
}
