.hamburger {
  background-color: #eee;
}

.nav {
  color: #eee;
  background-color: #111;
}

.nav .activePageContainer {
  border-bottom: 2px solid #116;
  animation: breathAccent 4s infinite;
  box-shadow: 0px 0px 2rem 2px rgba(128, 0, 255, 0.5);
  transition: all 400ms;
}

.nav.open .activePageContainer {
  box-shadow: 0px 0px 2rem 2px rgba(128, 0, 255, 0);
}

.nav .inactivePages {
  background-color: #111;
  border-bottom: 2px solid #116;
  animation: breathAccent 4s infinite;
  box-shadow: 0px 0px 2rem 2px rgba(128, 0, 255, 0.5);
}

.main {
  color: #eee;
  background: #111;
}

.project .description a {
  transition: all 400ms;
}

.project a:hover {
  color: #aaa;
}

.project {
  background-color: #111;
  border-top: 3px solid #116;
  border-bottom: 3px solid #116;
  animation: breathAccent 4s infinite;
  background-color: #222;
}

.project.collapsed:hover {
  box-shadow: 0px 0px 2rem 2px rgba(128, 0, 255, 0.5);
}

.project .deleteButton div:before, .project .deleteButton div:after {
  background-color: #fff;
}

@keyframes breathAccent {
  0% { 
    border-color: #116;
  }
  50% {
    border-color: #aaf;
  }
  100% {
    border-color: #116;
  }
}

.contactInfo th, .contactInfo td {
  animation: breathAccent 4s infinite;
}
