.hamburger {
  background-color: #eee;
}

.nav {
  color: #eee;
  background-color: #111;
}

.main {
  color: #eee;
  background-color: #222;
}

.project .description a {
  transition: all 400ms;
}

.project a:hover {
  color: #aaa;
}

.project {
  border: 2px solid #444;
  background-color: #111;
}

.project .deleteButton div:before, .project .deleteButton div:after {
  background-color: #fff;
}