.hamburger {
  background-color: #222;
}

.nav {
  color: #222;
  background-color: #eee;
}

.main {
  color: #222;
  background-color: #eee;
}

.project .description a {
  transition: all 400ms;
}

.project a:hover {
  color: #444;
}

.project {
  background-color: #aaa;
  border: 2px solid #444;
}

.project .deleteButton {
  background-color: #222;
}