.hamburger {
  background-color: #222;
}

.nav {
  color: #222;
  background-color: #eee;
}

.main {
  color: #222;
  background-color: #eee;
}

.terminal {
  background-color: rgba(0, 0, 0, 0.8);
  color: #8f8;
}

.terminalIcon {
  background-color: #8f8;
  transition: all 1000ms;
}
