/*
	Style for the canvas element that serves as the entry point for the WebGL
	part of the project.
*/
#webgl-root {
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100vw;
	height: 100vh;

	background-color: #000;

	z-index: -1;
}

body {
	background-color: #000;
}

/*
	Global styles.
*/
:root {
	font-family: "Roboto", sans-serif;

	--heading-dull: #888;
	--heading-vivid: #00f2ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
