/*
	Style for the canvas element that serves as the entry point for the WebGL
	part of the project.
*/
#webgl-root {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	
	width: 100vw;
	height: 100vh;
}

/*
	Global styles.
*/
:root {
	font-family: "Roboto", sans-serif;

	--heading-dull: #888;
	--heading-vivid: #00f2ff;
}