/*
	Style for the canvas element that serves as the entry point for the WebGL
	part of the project.
*/
#webgl-root {
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100vw;
	height: 100vh;

	background-color: #000;

	z-index: -1;
}

body {
	background-color: #000;
}

/*
	Global styles.
*/
:root {
	--main-font: "Space Grotesk", sans-serif;
	font-family: var(--main-font);

	--heading-dull: #888;
	--heading-vivid: #00f2ff;
	--background-color: rgba(6, 12, 26, 0.6);
	--main-text-color: #eee;
	--border-color: #333;

	--inactive-nav-item: #555;
	--active-nav-item: #fff;
	
	--vivid-text: #00f2ff;

	--link-color: #eee;
	--link-hover-color: #000000;
	--link-background-color: #44e9ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
