:root {
  --theme-background-color: #fff;
  --theme-color: #222;

  --theme-nav-background-color: #fff;
  --theme-nav-color: #222;
  --theme-nav-height: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--theme-background-color);
  color: var(--theme-color);
}

a {
  color: inherit;
  text-decoration: none;
}
